<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .selected-row {
            background-color: yellow;
            color: red;
        }
    </style>
    <script src="https://unpkg.com/vue@2"></script>
    <script>
        let data = `[{"id":1,"first_name":"Ninon","last_name":"Sterke","email":"nsterke0@infoseek.co.jp","gender":"Female","salary":2263},
{"id":2,"first_name":"Bennett","last_name":"Casa","email":"bcasa1@tamu.edu","gender":"Male","salary":4525},
{"id":3,"first_name":"Sherline","last_name":"Baptist","email":"sbaptist2@prweb.com","gender":"Female","salary":2733},
{"id":4,"first_name":"Town","last_name":"Hew","email":"thew3@youku.com","gender":"Male","salary":3496},
{"id":5,"first_name":"Hildegarde","last_name":"Jansens","email":"hjansens4@toplist.cz","gender":"Genderqueer","salary":1240},
{"id":6,"first_name":"Ewart","last_name":"Blankman","email":"eblankman5@dion.ne.jp","gender":"Male","salary":4406},
{"id":7,"first_name":"Ruttger","last_name":"Ludl","email":"rludl6@ovh.net","gender":"Male","salary":2335},
{"id":8,"first_name":"Joachim","last_name":"Kohrding","email":"jkohrding7@nytimes.com","gender":"Male","salary":1710},
{"id":9,"first_name":"Patrizius","last_name":"Kemmer","email":"pkemmer8@quantcast.com","gender":"Male","salary":3827},
{"id":10,"first_name":"Greta","last_name":"Eykelbosch","email":"geykelbosch9@newsvine.com","gender":"Female","salary":3822},
{"id":11,"first_name":"Yard","last_name":"Longthorne","email":"ylongthornea@arizona.edu","gender":"Male","salary":2657},
{"id":12,"first_name":"Dulcinea","last_name":"Kealy","email":"dkealyb@msn.com","gender":"Female","salary":3385},
{"id":13,"first_name":"Gusella","last_name":"Panswick","email":"gpanswickc@reddit.com","gender":"Female","salary":4049},
{"id":14,"first_name":"Christophorus","last_name":"McCumskay","email":"cmccumskayd@vk.com","gender":"Male","salary":1345},
{"id":15,"first_name":"Tait","last_name":"Arnason","email":"tarnasone@gizmodo.com","gender":"Male","salary":3794},
{"id":16,"first_name":"Mildrid","last_name":"Tenwick","email":"mtenwickf@upenn.edu","gender":"Female","salary":2296},
{"id":17,"first_name":"Gabi","last_name":"Mordon","email":"gmordong@amazon.com","gender":"Female","salary":1523},
{"id":18,"first_name":"Oby","last_name":"Gawke","email":"ogawkeh@disqus.com","gender":"Male","salary":3074},
{"id":19,"first_name":"Carole","last_name":"Soeiro","email":"csoeiroi@tripadvisor.com","gender":"Female","salary":2187},
{"id":20,"first_name":"Hodge","last_name":"Rubee","email":"hrubeej@ask.com","gender":"Male","salary":2485}]`;

        data = JSON.parse(data);
        console.log(data)
    </script>
</head>

<body>

    <div id="app">
        <div>
            id:<input type="checkbox" value="id" v-model="selectedFields">
            first:<input type="checkbox" value="first_name" v-model="selectedFields">
            last:<input type="checkbox" value="last_name" v-model="selectedFields">
            email:<input type="checkbox" value="email" v-model="selectedFields">
            sex:<input type="checkbox" value="gender" v-model="selectedFields">
            salary:<input type="checkbox" value="salary" v-model="selectedFields">
            <button v-on:click="deleteRow()">Delete</button>
        </div>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th v-for="field in selectedFields">{{field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members" v-on:mouseover="showData(member.id)"
                    v-bind:class="{'selected-row': member.ison}">
                    <td><input type="checkbox" v-bind:value="member.id" v-model="targetDel"></td>
                    <td v-for="field in selectedFields">{{member[field]}}</td>
                </tr>
            </tbody>
        </table>
        <p>{{targetDel}}</p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                members: data,
                selectedFields: ['id', 'first_name', 'last_name', 'email', 'gender', 'salary'],
                targetDel: []
            },
            methods: {
                deleteRow: function () {
                    // this.targetDel.push()
                    console.log(this.targetDel)
                    for (let i = 0; i < this.targetDel.length; i++) {

                        this.members.forEach((member, idx) => {
                            if (member.id == this.targetDel[i]) {
                                this.members.splice(idx, 1);
                            }
                        })
                    }

                },
                showData: function (args) {

                    for (let i = 0; i < this.members.length; i++) {
                        if (this.members[i].id == args) {
                            this.members[i].ison = true;

                        } else {
                            this.members[i].ison = false;

                        }

                        this.members.splice(i, 1, this.members[i])
                    }

                }
            },
            created: function () {

            }
        });
        console.log(vm)
    </script>

</body>

</html>