<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@2"></script>
  <script>
    Vue.component('button-counter', {
      template: '<button v-on:click="incrementCounter">{{counter}}</button>',
      data: function () {
        return {
          counter: 0
        }
      },
      methods: {
        incrementCounter: function () {
          this.counter++;
          this.$emit('increment')
        }
      }
    })

    Vue.component('currency-input', {
      template: `
      <div>
        <span>
          $<input ref='input' v-bind:value='value' v-on:input='updateValue($event.target.value)'>
        </span>
        <p>{{total}}</p>
      </div>
      `,
      props: ['value', 'total'],
      methods: {
        updateValue: function (value) {
          console.log(value)
          var formatValue = value.trim().slice(0, value.indexOf('.') === -1 ? value.length : value.indexOf('.') + 3);
          if (formatValue !== value) {
            // this.$refs.
            null;
          }
        }
      }
    })
  </script>
</head>

<body>
  <div id="app">
    <comp v-bind:foo.sync="bar"></comp>
  </div>

  <script>
    Vue.component('comp', {
      template: '<input v-on:keyup="update" v-model="foo_internal">',
      props: ["foo"],
      data: function () {
        return {
          foo_internal: this.foo
        }
      },
      methods: {
        update: function () {
          this.$emit("update:foo", this.foo_internal)
        }
      }
    })
    var vm = new Vue({
      el: '#app',
      data: {
        bar: "hi2"
      }
    })
  </script>

  <div id="app2">
    <currency-input v-model="total"></currency-input>
  </div>

  <script>
    var vm2 = new Vue({
      el: '#app2',
      data: {
        total: 10
      }
    })
  </script>

</body>

</html>