<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/vue-router@3"></script>
</head>

<body>

    <div id="app">
        <h1>Hello App</h1>
        <ul>
            <li v-for="entry in articles" v-bind:key="entry.no">
                <router-link v-bind:to="'/board/' + entry.no">
                    Go To {{entry.title}}
                </router-link>
            </li>
        </ul>
        <router-view></router-view>
    </div>

    <script>
        const Component = {
            template: `<div>vue {{no}}</div>`,
            computed: {
                no: function () {
                    let articles = this.$parent.articles;
                    let result = articles.filter(article => article.no == this.$route.params.no)
                    return result[0].content;
                },
            }
        }

        const router = new VueRouter({
            mode: 'history',
            routes: [{
                path: '/board/:no',
                component: Component
            }]
        })

        const app = new Vue({
            el: '#app',
            router: router,
            data: {
                articles: [{
                    no: 1,
                    title: 'Vue js',
                    content: 'Vue Js is good framework'
                }, {
                    no: 2,
                    title: 'react is',
                    content: 'React Js is good framework'
                }, {
                    no: 3,
                    title: 'javascript',
                    content: 'Javascript Js is good framework'
                }]
            }
        })
    </script>

</body>

</html>