<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            text-align: center;
        }

        table th {
            padding: 15px;
            border-bottom: 2px solid darkgray;
        }

        table tr:nth-of-type(even) {
            background-color: rgba(0, 0, 255, 0.1);
        }

        table td {
            padding: 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h3>관심언어 순위</h3>
        <table>
            <thead>
                <th v-for="head in header" v-text="head"></th>
            </thead>
            <tbody>
                <tr v-for="rank in ranking">
                    <td v-for="(val, key) in rank">{{val}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        let rankAry = [
            ['Java', 1, 2, 1, 1, 16],
            ['C', 2, 1, 2, 2, 1],
            ['C++', 3, 4, 3, 3, 2],
            ['Python', 4, 7, 6, 11, 23],
            ['Javascript', 7, 10, 8, 7, 20]
        ];

        let rankObj = [{
                language: 'Java',
                first: 1,
                second: 2,
                third: 1,
                forth: 1,
                fifth: 16
            },
            {
                language: 'C',
                first: 2,
                second: 1,
                third: 2,
                forth: 2,
                fifth: 1
            },
            {
                language: 'C++',
                first: 3,
                second: 4,
                third: 3,
                forth: 3,
                fifth: 2
            },
            {
                language: 'Python',
                first: 4,
                second: 7,
                third: 6,
                forth: 11,
                fifth: 23
            },
            {
                language: 'Javascript',
                first: 7,
                second: 10,
                third: 8,
                forth: 7,
                fifth: 20
            }
        ];

        new Vue({
            el: '#app',
            data: {
                header: ['프로그램언어', 2018, 2013, 2008, 2003, 1998],
                ranking: rankObj
            }
        });
    </script>
</body>

</html>