<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <h3>배열 중 짝수에 해당하는 값만 출력</h3>
        <ul>
            <!-- <template v-for="item in myArray"> -->
            <li v-for="(item,idx) in myArray" v-if="idx % 2 == 0">{{ item }} - {{idx}}</li>
            <!-- </template> -->
        </ul>
        <h3>데이터 변환을 통한 짝수만 출력</h3>
        <ul>
            <li v-for="item in myArray">{{ item }}</li>
        </ul>
        <button v-on:click="event1()">짝수만 표시</button>
        <button v-on:click="event2()">홀수만 표시</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                myArray: [1, 2, 3, 4, 5, 6],
                originalData: [] // [1, 2, 3, 4, 5, 6]
            },
            methods: {
                event1: function () {
                    console.log('event1')
                    this.myArray = this.originalData.filter(function (value) {
                        return value % 2 == 0;
                    });
                },
                event2: function () {
                    // this.myArray = this.originalData.filter(function (value) {
                    //     return value % 2 != 0;
                    // });
                    console.log('event2')
                    for (let i = 0; i < this.originalData.length; i++) {
                        if (this.originalData[i] % 2 == 1)
                            this.myArray.push(this.originalData[i])
                    }
                }
            },
            created: function () {
                this.originalData = this.myArray;
            }
        })
    </script>
</body>

</html>