<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for 디렉티브</title>
    <script src="https://unpkg.com/vue@2"></script>

</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(n, idx) in list">{{idx}} => {{n}}</li>
        </ul>
        <table>
            <tbody>
                <tr v-for="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.score}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                list: ["Vue.js", "React.js", "Poly.js", "Google"],
                items: [{
                    name: "홍길동",
                    score: 80
                }, {
                    name: "김민수",
                    score: 85
                }, {
                    name: "박익현",
                    score: 75
                }]
            }
        })
    </script>

    <div id="show">
        <ul>
            <li v-for="(val, key, idx) in object">{{idx}}=>{{key}}: {{val}}</li>
        </ul>
        <span v-for="n in 10">{{n }} </span>
        <dl>
            <template v-for="fruit in fruits">
                <!-- template태그는 처리후 소멸. -->
                <dt>{{fruit.name}}</dt>
                <dd>{{fruit.price}}</dd>
            </template>
        </dl>
    </div>
    <script>
        var show = new Vue({
            el: '#show',
            data: {
                object: {
                    firstName: "kildong",
                    lastName: "Hong",
                    age: 20
                },
                fruits: [{
                    name: 'Apple',
                    price: 1000
                }, {
                    name: 'Banana',
                    price: 2000
                }, {
                    name: 'Cherry',
                    price: 3000
                }]
            }
        })
    </script>
</body>

</html>