<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js index</title>
  <style>
    #list {
      width: 600px;
      border: 1px solid black;
      border-collapse: collapse;
    }

    #list td,
    #list th {
      border: 1px solid black;
      text-align: center;
    }

    #list>thead>tr {
      color: yellow;
      background-color: purple;
    }
  </style>
  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.1.0/fetch.js"></script>
  <script src="https://unpkg.com/es6-promise@4.2.8/dist/es6-promise.auto.min.js"></script>
</head>

<body>

  <div id="example">
    <p>이름: <input type="text" v-model="name" placeholder="over 2 words"></p>
    <table id="list">
      <thead>
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>전화번호</th>
          <th>주소</th>
        </tr>
      </thead>
      <tbody id="contacts">
        <tr v-for="contact in contactlist">
          <td>{{contact.no}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.tel}}</td>
          <td>{{contact.address}}</td>
        </tr>
      </tbody>
    </table>
    <div v-show="isProcessing">조회중</div>
  </div>

  <script>
    new Vue({
      el: '#example',
      data: {
        name: '',
        isProcessing: false,
        contactlist: []
      },
      watch: {
        name: function (val) {
          if (val.length >= 2) {
            this.fetchContacts();
          } else {
            this.contactlist = []
          }
        }
      },
      methods: {
        fetchContacts: _.debounce(function () {
          this.contactlist = [];
          this.isProcessing = true;
          var url = 'http://sample.bmaster.kro.kr/contacts_long/search/' + this.name;
          var vm = this;
          fetch(url)
            .then(function (response) {
              return response.json();
            })
            .then(function (json) {
              vm.contactlist = json;
              vm.isProcessing = false;
            })
            .catch(function (ex) {
              console.log('parsing fail', ex);
              vm.contactlist = [];
              vm.isProcessing = false;
            })
        }, 300)
      }
    })
  </script>

</body>

</html>