<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="todo-example">
        <todo-list v-bind:todos="todos">
            <template v-slot:todo="{ todo }">
                <span v-if="todo.isCompleted">✓</span>
                {{ todo.text }}
            </template>
        </todo-list>
    </div>

    <script>
        Vue.component('todo-list', {
            props: ['todos'],
            computed: {
                filteredTodos: function () {
                    return this.todos;
                }
            },
            template: `
            <ul>
                <li
                    v-for="todo in filteredTodos"
                    v-bind:key="todo.id"
                >
                    <slot name="todo" v-bind:todo="todo">
                    </slot>
                </li>
            </ul>
            `
        })

        new Vue({
            el: '#todo-example',
            data: {
                todos: [{
                    id: 1,
                    text: 'Good',
                    isCompleted: true
                }, {
                    id: 2,
                    text: 'Nice',
                    isCompleted: false
                }, {
                    id: 3,
                    text: 'Bad',
                    isCompleted: true
                }]
            }
        })
    </script>
</body>

</html>