<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input value="4" v-model="dan">
        <button v-on:click="printDan(dan)">출력</button>
        <ul>
            <li v-for="num in 9">{{adan}} * {{num}} = {{adan*num}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                dan: 2,
                adan: 1
            },
            methods: {
                printDan: function (arg) {
                    this.adan = arg
                }

            },
            mounted: function () {
                this.adan = this.dan;
            }
        });
    </script>

</body>

</html>